(require "natives")


(event Counter
  (on count-up [counter] {
    (set counter (+ (value counter) 1))
    (print (value counter))
  })

  (on exit [] (exit))
)

(event Main
  (on ping [user] {
    (print user)
  })

  (on exit [] (exit))
)

(mut counter 0)
(let c (spawn Counter))

(send c count-up counter)
(send c count-up counter)
(send c count-up counter)


(let m (spawn Main))
(send m ping "Hello, World!")

(send c exit)
(send m exit)

(event IntrinsicCounter 
  (mut counter 0)

  (on count-up [] {
    (set counter (+ (value counter) 1))
    (print (value counter))
  })
)

(let ic (spawn IntrinsicCounter))
(send ic count-up)
(send ic count-up)
(send ic count-up)