(require "natives")

(interface Loopable [a]
  (defn loop [(ev Loopable)])
)

(defn Loop [msg] {

  (actor (implements Loopable)
    (on loop [(ev Loopable)] {
      (print msg)
      (send ev loop ev)

      unit
    })
  )
})

(let l (spawn (Loop "loop")))
(send l loop l)
