extern fn print<A>(x: A)
extern fn map<A, B>(f: fn(A): B, xs: list<A, B>): list<B>
extern fn (*)<A>(x: A, y: A): A
extern fn (+)<A>(x: A, y: A): A
extern fn (-)<A>(x: A, y: A): A
extern fn (/)<A>(x: A, y: A): A
extern fn exit<A>(): A
extern fn value<A>(x: mutable<A>): A

extern fn (==)<A>(x: A, y: A): bool
extern fn (!=)<A>(x: A, y: A): bool
extern fn (<)<A>(x: A, y: A): bool
extern fn (>)<A>(x: A, y: A): bool
extern fn (<=)<A>(x: A, y: A): bool
extern fn (>=)<A>(x: A, y: A): bool
extern unit: unit

