(native print [A] (-> A int))
(native map [A B] (-> (-> A B) (list A) (list B)))
(native * [A] (-> A A A))
(native + [A] (-> A A A))
(native - [A] (-> A A A))
(native / [A] (-> A A A))
(native exit [A] (-> A))
(native value [A] (-> (mutable A) A))

(native == [A] (-> A A bool))
(native != [A] (-> A A bool))
(native < [A] (-> A A bool))
(native > [A] (-> A A bool))
(native <= [A] (-> A A bool))
(native >= [A] (-> A A bool))
(native unit unit)