dist-newstyle
build
.xmake
.vscode
.idea
.cache

*.bin

runtime/lib
runtime/bin

bindings/lib
bindings/bin

bin

.DS_Store

cmake-build-debug
cmmake-build-release
CMakeLists.txt

*.out

example/output
example/*.c
example/*.h

.env